@import "../assets/styles/screen-sizes";
@import "../assets/styles/colors";

.header {
  width: 100%;
  position: fixed;
  background: lighten($silver_pink, 15);
  border-bottom: 1px solid lighten($spicy_mix, 15);
  padding: 5px 0 0 10px;
  height: 32px;
  z-index: 5;
}

.content {
  padding-top: 50px;
  width: 100%;

  @include md {
    width: 80%;
    margin: 0 auto;
  }

  @include lg {
    width: 50%;
    margin: 0 auto;
  }
}
