@import "../../assets/styles/colors";
@import "../../assets/styles/screen-sizes";

.search {
  padding: 0 15px;
  @include sm {
    padding: 0;
  }

  form {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    width: 100%;

    @include sm {
      width: 75%;
      margin: 0 auto;
      flex-flow: row;
    }

    @include lg {
      width: 60%;
      margin: 0 auto;
      flex-flow: row;
    }

    > .form-control {
      flex: 1 1 80%;
      margin: 5px 0;

      @include sm {
        margin: 0 5px;
      }

      &.ng-touched.ng-invalid {
        border: 1px solid red;
      }
    }

    > .form-button {
      flex: 1 1 20%;
      margin: 5px 0;

      @include sm {
        margin: 0 5px;
      }
    }
  }

  .result {
    margin-top: 3em;
    @include sm {
      padding: 0 15px;
    }
  }
}
