// https://coolors.co/

$silver_pink: #c4bbaf;
$grullo: #a5978b;
$rose_ebony: #5c4742;
$spicy_mix: #8d5b4c;
$caput_mortuum: #5a2a27;

$persian_blue: #1b2cc1;
$purple_navy: #3d518c;
$pale_cornflower_blue: #abd2fa;
$french_sky_blue: #7692ff;
$maastricht_blue: #091540;
