<a routerLink="" class="back">
  <fa-icon icon="chevron-left"></fa-icon>
  Back
</a>
<div class="details">
  <div class="header">
    <div class="title">
      <a [href]="repository.html_url" target="_blank">
        {{ repository.full_name }}
      </a>
      <span class="owner">by {{ repository.owner.login }}</span>
    </div>
    <div class="stats">
      <span title="Stargazers">
        {{ repository.stargazers_count | shortNumber }}
        <fa-icon icon="star"></fa-icon>
      </span>
      <span title="Forks">
        {{ repository.forks_count | shortNumber }}
        <fa-icon icon="code-branch"></fa-icon>
      </span>
    </div>
  </div>
  <div class="body">
    <h4>
      There are {{ repository.open_issues_count | shortNumber }} open issues,
      most recent ones:
    </h4>
    <div class="issues">
      <app-issue-card
        class="issue"
        *ngFor="let issue of issues"
        [issue]="issue"
      ></app-issue-card>
    </div>
  </div>
</div>
