@import "../../assets/styles/colors";
@import "../../assets/styles/screen-sizes";

.back {
  color: $spicy_mix;
}

.details {
  padding: 0 10px 20px;

  .header {
    margin: 20px 0 10px;
    display: flex;
    justify-content: space-between;

    a {
      font-size: 32px;
      font-weight: 700;
      margin-right: 10px;
    }

    .owner {
      font-size: 14px;
      color: lighten($purple_navy, 10);
    }

    .stats {
      margin-top: 15px;

      > span {
        margin-left: 10px;
      }
    }
  }

  .body {
    h4 {
      margin: 20px 0 5px 0;
    }

    .issues {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .issue {
        flex: 1 1 98%;
        margin: 1%;
        box-sizing: border-box;
        background: #fff;
        border: 1px solid lighten(black, 50);
        box-shadow: 0 0 5px lighten(black, 50);
        border-radius: 3px;
        padding: 10px 10px 0;

        @include sm {
          flex: 1 1 48%;
        }
      }
    }
  }
}
